<h2>Daftar</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<div class="body">
  <div class="container">
    <div class="register-form-wrapper">
      <form class="form-horizontal register-form">
        <div class="text-center register-intro">
          <h3>Daftar</h3>
          <p>Silakan isi <strong>seluruh</strong> informasi mengenai diri Anda di bawah ini</p>
        </div>
        <hr/>
        <div class=" form-group control-group">
          <label for="input-email" class="control-label col-sm-3">Email</label>
          <div class="controls col-sm-9">
            <input class="form-control" id="input-email" type="text">
          </div>
        </div>
        <div class="form-group control-group">
          <label for="input-password" class="control-label col-sm-3">Password</label>
          <div class="controls col-sm-9">
            <input class="form-control" id="input-password" type="password">
          </div>
        </div>
        <div class="form-group control-group">
          <label for="repeat-input-password" class="control-label col-sm-3">Konfirmasi Pasword</label>
          <div class="controls col-sm-9">
            <input class="form-control" id="repeat-input-password" type="password">
          </div>
        </div>
        <hr/>
        <div class=" form-group control-group">
          <label for="input-nama" class="control-label col-sm-3">Nama Depan</label>
          <div class="controls col-sm-9">
            <input class="form-control" id="input-nama" type="text">
          </div>
        </div>
        <div class=" form-group control-group">
          <label for="input-nama" class="control-label col-sm-3">Nama Belakang</label>
          <div class="controls col-sm-9">
            <input class="form-control" id="input-nama" type="text">
          </div>
        </div>
        <div class=" form-group control-group">
          <label for="input-phone" class="control-label col-sm-3">Alamat</label>
          <div class="controls col-sm-9">
            <textarea class="form-control" id="input-address"></textarea>
          </div>
        </div>
        <div class=" form-group control-group">
          <label for="input-phone" class="control-label col-sm-3">No Telepon</label>
          <div class="controls col-sm-9">
            <input class="form-control" id="input-phone" type="phone">
          </div>
        </div>
        <hr/>
        <div class="control-group form-group">
            <div class="col-sm-6 checkbox">
                <label> <input type="checkbox"> Saya sudah membaca <a href="#">Ketentuan dan Syarat</a> </input></label>
            </div>
        </div>
        <hr/>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Daftar</button>
        </div>
      </form>
    </div>
  </div>
</div>