<div class="body">
  <div class="container">
    <div class="register-form-wrapper">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => 'form-horizontal register-form'}) do |f| %>
        <%= devise_error_messages! %>
        <div class="text-center register-intro">
          <h3>Daftar</h3>
          <p>Silakan isi <strong>seluruh</strong> informasi mengenai diri Anda di bawah ini</p>
        </div>
        <hr/>
        <div class=" form-group control-group">
          <%= f.label :email, :class => 'control-label col-sm-3' %>
          <div class="controls col-sm-8">
            <%= f.email_field :email, autofocus: true, :id => 'input-email', :class => 'form-control' %>
          </div>
        </div>
        <div class="form-group control-group">
          <%= f.label :password, :class => 'control-label col-sm-3' %>
          <div class="controls col-sm-8">
            <%= f.password_field :password, autocomplete: "off", :id => 'input-password', :class => 'form-control' %>
          </div>
        </div>
        <div class="form-group control-group">
          <%= f.label :password_confirmation, 'Konfirmasi Password', :class => 'control-label col-sm-3 label-confirm-password' %>
          <div class="controls col-sm-8">
            <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control', :id => 'repeat-input-password' %>
          </div>
        </div>
        <hr/>
        <div class=" form-group control-group">
          <%= f.label :first_name, 'Nama Depan', :class => 'control-label col-sm-3' %>
          <div class="controls col-sm-8">
            <%= f.text_field :first_name, :class => 'form-control', :id => 'input-nama-depan' %>
          </div>
        </div>
        <div class=" form-group control-group">
          <%= f.label :first_name, 'Nama Belakang', :class => 'control-label col-sm-3' %>
          <div class="controls col-sm-8">
            <%= f.text_field :first_name, :class => 'form-control', :id => 'input-nama-belakang' %>
          </div>
        </div>
        <div class=" form-group control-group">
          <%= f.label :address, 'Alamat', :class => 'control-label col-sm-3' %>
          <div class="controls col-sm-8">
            <%= f.text_area :address, :class => 'form-control', :id => 'input-address' %>
          </div>
        </div>
        <div class=" form-group control-group">
          <%= f.label :phone_number, 'No Telepon', :class => 'control-label col-sm-3' %>
          <div class="controls col-sm-8">
            <%= f.telephone_field :phone_number, :class => 'form-control', :id => 'input-phone' %>
          </div>
        </div>
        <hr/>
        <div class="control-group form-group">
            <div class="col-sm-6 checkbox">
                <label> <input type="checkbox"> Saya sudah membaca <a href="#">Ketentuan dan Syarat</a> </input></label>
            </div>
        </div>
        <hr/>
        <div class="form-actions">
          <%= f.submit "Daftar", :class => 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>