<div class="body">
	<div class="container">
		<%= form_for @user, :html => {:class => 'form-horizontal'} do |f| %>
			<div class=" form-group control-group">
        <%= f.label :email, :class => 'control-label col-sm-3' %>
        <div class="controls col-sm-8">
          <%= f.email_field :email, autofocus: true, :id => 'input-email', :class => 'form-control', :disabled => :true %>
        </div>
      </div>
      <hr/>
      <div class="form-actions">
        <div class="row">
          <div class="col-md-6">
            <%= f.submit "Simpan", :class => 'btn btn-primary' %>
            <%= link_to "Kembali", user_path(@user), :class => 'btn btn-danger' %>
          </div>
        </div>
      </div>
		<% end %>
    <%= @user.inspect %>
	</div>
</div>