<div class="footer">
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="col-md-4"><div class="footer-logo"><%= image_tag "logo-resize.png" %></div></div>
        <div class="col-md-4 text-center copyright"><div>Copyright &copy; BikinKenyang 2015</div></div>
        <div class="col-md-4">
          <div class="footer-social-media">
            <%= link_to image_tag("pinterest.png", :border => '0', :title => "Pinterest", :alt => 'Pinterest Icon'), '#' %>
            <%= link_to image_tag("twitter.png", :border => '0', :title => "Twitter", :alt => 'Twitter Icon'), '#' %>
            <%= link_to image_tag("facebook.png", :border => '0', :title => "Facebook", :alt => 'Facebook Icon'), '#' %>
            <%= link_to image_tag("instagram.png", :border => '0', :title => "Instagram", :alt => 'Instagram Icon'), '#' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>