<!DOCTYPE html>
<html>
<head>
  <title>Bikinkenyang - Admin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="main-container">
		<%= render 'layouts/admin_header' %>
		<div class="body">
			<div class="container-fluid">
				<% flash.each do |key, value| %>
					<% if key != "notice" %>
						<div class="alert alert-<%= key %>"><%= value %></div>
					<% end %>
				<% end %>
				<%= yield %>
			</div>
		</div>
	</div>
</body>
</html>